<div class="cpdd-blog-banner shadow-sm p-4">
  <div class="row">
    <div class="col-6 text-center d-flex flex-column justify-content-center">
      <h1 class="banner-title text-start">Welcome to cpdd Blog</h1>
      <p class="banner-desc text-start">
        Discover insights, tips, and stories across Technology, Travel, Food & Drink, Health & Wellness, Lifestyle, Business & Finance, Entertainment, and Education. Join us on a journey to explore the world of knowledge, inspiration, and innovation.
      </p>
      <div class="text-start">
        <span class="date-string">
          <%= new Date().toLocaleDateString('en-US', {
            year: 'numeric',
            month: 'long',
            day: 'numeric'
          }) %>
        </span>
      </div>
    </div>
    <div class="col-6">
    </div>
  </div>
</div>