<footer class="bg-light mt-5">
  <div class="footer-copyright text-center py-3">
    © <%= new Date().getFullYear() %> Copyright :
    <a href="<%= req.protocol + '://' + req.get('host') %>"><img src="/assets/cpdd-blog-logo-V2.svg" alt="cpdd blog logo" /></a>
  </div>
</footer>
<script src="//code.tidio.co/im5larfz78ul9eniy3w4r5rqrmkhvfaf.js" async></script>