<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="/assets/cpdd-blog-logo-V2.svg" alt="cpdd blog logo" /></a>
    <div class="d-flex gap-3 order-lg-1" role="search">
      <% if (typeof user !== 'undefined' && user) { %>
        <!-- Display profile icon if user is logged in -->
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/profile-icon.png" alt="Profile Icon" width="40" height="40">
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/profile"><svg class="me-2" width="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/></svg>Profile</a></li>
            <li><a class="dropdown-item" href="/user/logout"><svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="14" viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>Logout</a></li>
          </ul>
        </div>
      <% } else { %>
        <!-- Display login and register links if user is not logged in -->
        <a href="/login" class="btn btn-outline-primary">Login/Signup</a>
      <% } %>
    </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbarNav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/blogs">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <% if (typeof user !== 'undefined' && user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/blogs/create">New Blog</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <script>
    const currentPath = window.location.pathname;
    document.querySelectorAll('.nav-link').forEach(function(navLink) {
      if (navLink.getAttribute('href') === currentPath) {
        navLink.classList.add('active');
      } else {
        navLink.classList.remove('active');
      }
    });
  </script>
</body>
</html>
