<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="login-container mt-5">
      <picture class="login-icon mb-3">
        <img src="/assets/icon-cpdd-blog.svg" alt="cpdd blog icon" width="80" height="80">
      </picture>
      <h2 class="text-center mb-4 page-title">Login</h2>
      <div id="errorMessages" class="alert alert-danger mt-3 d-none"></div>
      <div id="successMessage" class="alert alert-success mt-3 d-none"></div>
      <form id="loginForm" action="/login" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email address / Username</label>
          <input type="emailOrUsername" class="form-control" id="emailOrUsername" name="emailOrUsername" placeholder="Enter your email or username" required>
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
      <div class="text-center mt-4">
        <p>Don't have an account? <a href="/register">Sign up</a></p>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/login.js"></script>
  </body>
</html>
