<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { title: title }) %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="login-container mt-5">
      <picture class="login-icon mb-3">
        <img src="/assets/icon-cpdd-blog.svg" alt="cpdd blog icon" width="80" height="80">
      </picture>
      <h2 class="text-center mb-4 page-title">Register Now</h2>
      <form id="registerForm">
        <!-- Error and success message container -->
        <div id="errorMessages" class="alert alert-danger d-none"></div>
        <div id="successMessage" class="alert alert-success d-none"></div>
        
        <!-- <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
        </div> -->

        <div class="input-group mb-3">
          <span class="input-group-text">@</span>
          <input type="text" class="form-control" id="username" placeholder="Username" aria-label="Username">
        </div>
        
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
        </div>
        
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
        </div>
        
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password">
        </div>

        <div class="mb-4">
          <label for="gender" class="form-label">Gender</label>
          <select class="form-select" id="gender" name="gender">
            <option value="" disabled selected>Select your gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </div>
        
        <button type="submit" class="btn btn-primary w-100">Register</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/validation.js"></script> <!-- Your custom JS file -->
  </body>
</html>
