<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="categories-container container">
      <%- include('../partials/blogListing.ejs', { heading: category + ' Blogs', blogs: blogs }) %>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
